//Colors
$VeryDarkGrayishBlue: hsl(217, 19%, 35%);
$DesaturatedDarkBlue: hsl(214, 17%, 51%);
$GrayishBlue: hsl(212, 23%, 69%);
$LightGrayishBlue: hsl(210, 46%, 95%);

//CSS RESET
*,
*::before,
*::after {
  box-sizing: border-box;
}

html{
    font-family: 'Manrope', sans-serif;
    font-size: .8125rem;
}

ul[class],
ol[class] {
  padding: 0;
}

body,
h1,
h2,
h3,
h4,
h5,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

// ***
body{
    background: $LightGrayishBlue;

    display: grid;
    place-content: center;
    place-items: center;

    min-height: 100vh;
}

.card{
    border-radius: .625rem;

    width: 20.625rem;
    height: 30.3125rem;

    background-color: white;

    @media(min-width: 500px){
        width: 50rem;
        height: 18.75rem;

        display: flex;
        flex-direction: row;
    }
}

.card-img{
    height: 11.25rem;

    border-radius: .625rem .625rem 0 0;

    background-image: url("../images/drawers.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

    @media(min-width: 500px){
        width: 46.875rem;
        height: auto;

        border-radius: .625rem 0 0 .625rem;
    }
}

.card-content{
    display: flex;
    flex-direction: column;

    padding: 2.1875rem 2.5625rem 0.625rem 2rem;

    h4{
        font-weight: 700;
        color: $VeryDarkGrayishBlue;
        margin-bottom: 1.0625rem;
    }

    p{
        font-weight: 500;
        color: $DesaturatedDarkBlue;
        font-size: 0.8125rem;
        margin-bottom: 1.875rem;
        line-height: 1.5;
    }

    @media(min-width: 500px){
        padding: 2.1875rem 2.625rem 0.625rem 2.5rem;

        h4{
            font-size: 1.4375rem;
            margin-bottom: .8125rem;
        }

        p{
            font-size: .9375rem;
            margin-bottom: 1.625rem;
        }
    }

    .profile{
        display: flex;
        flex-direction: row;
        align-items: center;
        
        .photo{
            height: 2.5rem;
            border-radius: 50%;
            margin-right: 0.9375rem;
        }

        .personal{
            display: flex;
            flex-direction: column;

            h5{
                font-weight: 700;
                color: $VeryDarkGrayishBlue;
                font-size: 0.75rem;
            }

            span{
                font-weight: 500;
                color: $GrayishBlue;
                font-size: 0.75rem;
            }
        }

        .shareBtn{
            background-color: $LightGrayishBlue;
            border-radius: 50%;

            width: 1.875rem;
            height: 1.875rem;

            display: grid;
            place-items: center;

            margin-left: 4.0625rem;

            cursor: pointer;
        }

        @media(min-width: 500px){
            .photo{
                margin-right: 1.5625rem;
            }
            .shareBtn{
                margin-left: 12.5rem;
            }
        }
    }
}

.active{
    visibility: hidden;

    position: relative;
    bottom: 4.125rem;

    background-color: $VeryDarkGrayishBlue;
    border-radius: 0 0 0.625rem 0.625rem;

    display: flex;
    align-items: center;

    width: 20.625rem;
    height: 4.125rem;

    >p{
        color: $GrayishBlue;
        text-transform: uppercase;
        letter-spacing: 0.3125rem;

        font-size: 0.75rem;

        margin: 0 0.3125rem 0 1.875rem;

    }

    .co-logo{
        display: flex;
        align-items: center;

        margin: 0 2.8125rem 0 0.3125rem;

        >a{
            margin-inline: 0.5rem;
        }
    }

    .shareBtnActive{
        background-color: $DesaturatedDarkBlue;
        border-radius: 50%;

        width: 1.875rem;
        height: 1.875rem;

        display: grid;
        place-items: center;

        cursor: pointer;
        >img{
            filter: brightness(0) invert(1);
        }        
    }

    @media(min-width: 500px){
        left: 308.5px;
        bottom: 137px;

        border-radius: 0.625rem 0.625rem 0.625rem 0.625rem;

        width: 16.4375rem;
        height: 3.125rem;

        .co-logo{
            margin: 0 0 0 1.125rem;

            >a{
                margin-inline: 0.625rem;
            }
        }

        .shareBtnActive{
            position: absolute;
            top: 4.6875rem;
            right: 7.0625rem;
        }

        .arrow-down {
            position: absolute;
            top: 2.5625rem;
            right: 6.75rem;

            width: 0; 
            height: 0; 
            
            border-left: 1.25rem solid transparent;
            border-right: 1.25rem solid transparent;
            
            border-top: 1.25rem solid $VeryDarkGrayishBlue;
        }
    }
}

.attribution{
    display: flex;
    justify-content: center;

    width: 100%;
    font-size: 0.625rem;
    a{
        color: teal;
    }

    @media(min-width: 500px){
        font-size: 0.9375rem;
    }
}


