*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-family: 'Manrope', sans-serif;
  font-size: .8125rem;
}

ul[class],
ol[class] {
  padding: 0;
}

body,
h1,
h2,
h3,
h4,
h5,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

body {
  background: #ecf2f8;
  display: -ms-grid;
  display: grid;
  place-content: center;
  place-items: center;
  min-height: 100vh;
}

.card {
  border-radius: 10px;
  width: 330px;
  height: 485px;
  background-color: white;
}

.card-img {
  height: 180px;
  border-radius: 10px 10px 0 0;
  background-image: url("../images/drawers.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.card-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 35px 41px 10px 32px;
}

.card-content h4 {
  font-weight: 700;
  color: #48556a;
  margin-bottom: 17px;
}

.card-content p {
  font-weight: 500;
  color: #6d7f97;
  font-size: 13px;
  margin-bottom: 30px;
  line-height: 1.5;
}

.card-content .profile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.card-content .profile .photo {
  height: 40px;
  border-radius: 50%;
  margin-right: 15px;
}

.card-content .profile .personal {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.card-content .profile .personal h5 {
  font-weight: 700;
  color: #48556a;
  font-size: 12px;
}

.card-content .profile .personal span {
  font-weight: 500;
  color: #9eafc2;
  font-size: 12px;
}

.card-content .profile .shareBtn {
  background-color: #ecf2f8;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  display: -ms-grid;
  display: grid;
  place-items: center;
  margin-left: 65px;
  cursor: pointer;
}

.active {
  visibility: hidden;
  position: absolute;
  left: 23px;
  bottom: 66px;
  background-color: #48556a;
  border-radius: 0 0 10px 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 330px;
  height: 66px;
}

.active > p {
  color: #9eafc2;
  text-transform: uppercase;
  letter-spacing: 5px;
  font-size: 12px;
  margin: 0 5px 0 30px;
}

.active .co-logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 45px 0 5px;
}

.active .co-logo > a {
  margin-inline: 8px;
}

.active .shareBtnActive {
  background-color: #6d7f97;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  display: -ms-grid;
  display: grid;
  place-items: center;
  cursor: pointer;
}

.active .shareBtnActive > img {
  -webkit-filter: brightness(0) invert(1);
          filter: brightness(0) invert(1);
}
/*# sourceMappingURL=style.css.map */